[submodule "KeyboardFirmware/CubeMX2Makefile"]
	path = KeyboardFirmware/CubeMX2Makefile
	url = https://github.com/baoshi/CubeMX2Makefile.git
[submodule "CCLoader"]
	path = CCLoader
	url = https://github.com/RedBearLab/CCLoader.git
[submodule "cc2540kbd"]
	path = cc2540kbd
	url = https://github.com/joric/cc2540kbd.git
